body {
    background-image: url("http://media4.s-nbcnews.com/i/streams/2012/April/120410/318811-120410-ent-springfield-vmed.jpg");
    background-size: cover;
    margin-left: 30%;
    max-width: 700px;
}

.city-head {
    background-color: cornflowerblue;
    font-size: 30px;
    background-image: url("https://mystickermania.com/cdn/stickers/simpsons-stickers/sticker_5006-512x512.png");
    background-position: center;
    color: rgb(23, 83, 143);
    border: white 3px solid;
    border-radius: 10px;
    font-family: 'Rock Salt', cursive;
    
}

@keyframes wheelHueColor {
    from, to { color: hsl(322, 25%, 94%); }
    10%      { color: rgb(8, 8, 8); }
    20%      { color: rgb(255, 254, 254); }
    30%      { color: rgb(7, 7, 7); }
    40%      { color: rgb(255, 255, 255); }
    50%      { color: hsl(0, 0%, 5%); }
    60%      { color: hsl(180, 29%, 97%); }
    70%      { color: hsl(0, 0%, 2%); }
    80%      { color: hsl(240, 100%, 100%); }
    90%      { color: hsl(0, 0%, 1%); }
}

.city-head {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
}

.city-head:hover {
    cursor: pointer;
}


h1 {
    background-color: cornflowerblue;
    font-size: 60px;
    padding: 20px;
    color: white;
    border: white 3px solid;
    border-radius: 10px;
    font-family: 'Rock Salt', cursive;
}

.offer {
    background-color: cornflowerblue;
    font-size: 30px;
    color: white;
    border: white 3px solid;
    border-radius: 10px;
    padding-left: 10px;
}

.springfield-info {
    background-color: cornflowerblue;
    padding: 20px;
    color: white;
    border-radius: 10px;
    border: white 3px solid;
    font-family:cursive;
}

#contact {
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 10px;
    border: white 3px solid;
}

.list {
    background-color: cornflowerblue;
    padding: 20px;
    list-style: circle;
    padding: 20px;
    padding-left: 50px;
    color: white;
    border-radius: 10px;
    border: white 3px solid;
    font-family: cursive;
}

.contactUs {
    background-color: cornflowerblue;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    border: white 3px solid;
}

.crumb {
    
    margin-right: 2em;
    display: inline;
    background-color:cornflowerblue;
    border-radius: 10px;
    font-size: 25px;
}

a {
	color: white;
    padding: 10px;
}

a:visited {
    color:blue;
}

a:hover {
    color:lawngreen;
}

.citypic {
    border: white 3px solid;
    border-radius: 10px;
    margin: 0;
    padding-left: 70px;
}

p {
    font-family: 'Rock Salt', cursive;;
}

#springfield {
    padding-left: 75px;
}

#myVid {
    padding-right: 100px;
}