body {
  background: #247BA0;
  margin: 1rem;
  padding-left: 200px;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg");
  background-size: cover;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 20;
	background-color: ivory;
	list-style: circle;
}

.duckie {
	border-radius: 50%;
	margin-left: 65px;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

.hotel-head {
	background-color: ivory;
	font-family: 'Grand Hotel', cursive;
	font-display: center;
	text-justify: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 700px;
	font-size: 70px;
	text-align: center;
	margin-right: 100px;
	max-width: 400px;
	border-radius: 10px;

}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.hotel-california {
	font-family: cursive;
	font-weight: 100;
	font-size: larger;
	background-color: #13293D;
	text-justify: center;
	background-size: scale(2,2);
	color: #E8F1F2;
	border-radius: 10px;
	padding: 10px;

}

.tell {
	font-family: fantasy;
	font-size: 25px;
	border-radius: 10px;
	padding: 10px;

}


.offer {
	font-family: fantasy;
	font-size: 25px;
	color: black;
	font-style: italic;
	background-color: ivory ;
	border-radius: 10px;
	padding: 10px;


}

#contact {
	background-color: ivory;
	height: max-content;
	border-radius: 10px;
	padding: 10px;
	font-family: fantasy;
}

.contact {
	background-color: ivory;
	border-radius: 10px;
	padding: 10px;
	font-family: fantasy;

}

.hello {
	background-color: ivory;
	width: 200px;
	margin-left: 100px;
	border-radius: 10px;
	padding: 10px;
}

.hotel-list {
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}

